services:
  php-fpm:
    container_name: phpdock-php-fpm-latest
    image: ${COMPOSE_PROJECT_NAME}:${PHP_VERSION}
    build:
      context: .
      target: php-dev
      args:
        - PHP_VERSION=${PHP_VERSION}
        - PHP_EXTENSIONS=${PHP_EXTENSIONS}
        - COMPOSER_AUTH=${COMPOSER_AUTH}
    environment:
      - XDEBUG_CLIENT_HOST=${XDEBUG_CLIENT_HOST}
      - APP_ENV=local
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  nginx:
    container_name: phpdock-nginx-1
    build:
      context: .
      target: nginx-dev
      args:
        - NGINX_VERSION=${NGINX_VERSION}
    environment:
      - NGINX_SERVER_TOKENS=on
      - SELF_SIGNED_SSL=1
      - PHP_FPM_HOST=${PHP_FPM_HOST}
      - PHP_FPM_PORT=${PHP_FPM_PORT}
    volumes:
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ${NGINX_SITES_PATH}:/etc/nginx/sites-available
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - php-fpm
    restart: unless-stopped

  mariadb:
    image: mariadb:${DB_VERSION}
    environment:
      - MARIADB_DATABASE=${DB_DATABASE}
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    volumes:
      - ${DB_CNF_FILE}:/etc/mysql/my.cnf
      - ${DATA_PATH_HOST}/mariadb:/var/lib/mysql
      - ${DB_ENTRYPOINT_INITDB}:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          memory: 10G
        reservations:
          memory: 1G
    ports:
      - "3306:3306"
    restart: unless-stopped

  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local